@import 'src/styles/variables';

.cliente-list-container {
  padding: 20px;

  h2 {
    color: $primary-color;
  }

  .table {
    background-color: $background-color;
    border-radius: 8px;
    overflow: hidden;

    th {
      background-color: $primary-color;
      color: #ffffff;
    }

    td {
      vertical-align: middle;
    }

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      i {
        margin-right: 0;
      }
    }
  }

  .pagination {
    margin-top: 20px;
  }
}
